body {
  	margin: 0;
  	overflow: hidden;
}

canvas {
  	display: block;
}

#title-screen{
	position: absolute;
  	top:0px;
  	left:0px;
  	z-index: 20;
}

#warning-message{
  	z-index: 20;
  	padding: 10px;
}

